<%= form_for(@search) do |f| %>
<% if @search.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@search.errors.count, "error") %>
    prohibited this search from being saved:
  </h2>

  <ul>
    <% @search.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div onclick="getLocation()" class="submit" style="font-size: 3em !important;line-height: 1em !important;">Find Me</div>

<p id="feedback"></p>

<div class="actions">
  <div class="field">
    <%= f.label :location,  style:'margin: auto;' %><br/>
    <%= f.text_field :location, {:class => 'textfield', style:'border-radius: 5px;'} %>
  </div>
  <%= f.submit 'Submit', {class: 'submit', style: "font-size: 3em !important;line-height: 1.4em !important;"} %>
</div>
<% end %>
<script>
  var x = document.getElementById('search_location');
  var y = document.getElementById('feedback');
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
      y.innerHTML = "Searching For Your Location...";
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }

  }

  function showPosition(position) {
    x.value = position.coords.latitude + ", " + position.coords.longitude;
    y.innerHTML = "Your Location Found";
  }
</script>
