<%= form_for(@search) do |f| %>
<div class="row">
  <% if @search.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@search.errors.count, "error") %>
      prohibited this search from being saved:</h2>

    <ul>
      <% @search.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="actions" style="padding: 20px;margin-bottom: 40px">
    <div class="col-xs-6">
      <%= f.text_field :location, :class => 'submitfield', :style => 'min-width: 100%; max-height: 32px' %>

    </div>
    <div class="col-xs-6">
      <%= f.submit 'Submit', :class => 'submit'%>
    </div>
  </div>

</div>

</div>
</div>
</div>
<% end %>
