<table class="table" style="padding-left: 0%; padding-right: 0%; font-family:"Verdana"";>
  <thead>
    <th class="">Name</th>
    <th class="">Distance</th>
    <th class="">Temp</th>
    <th class="">Base</th>
    <th class="">Snowfall</th>
    <!-- <th>Rides</th> -->
    <!-- <th>Webcam</th> -->
  </thead>
  <tbody>
    <%- @resorts.each do |resort| %>
    <tr>
      <td class="resort_stats"><%= link_to resort.name, resort_path(resort.id, :location => @location),style: "font-size: 1.1em;" %></td>
      <td class="resort_stats"><%= resort.distance_text %></td>
      <td class="resort_stats"><%= resort.temp  %>
        &deg; F</td>
      <td class="resort_stats"><%= resort.base  %>
        "</td>
      <td class="resort_stats"><%= resort.snowfall  %>
        "</td>
      <!-- <td class="resort_stats"><%= link_to Ride.where(resort_to: resort.name).count, rides_path(resort_to: resort.name) %></td> -->

      <!-- <td><%- resort.webcam.split(",").each_with_index do |webc, i| %>
        <a data-featherlight="image" href="<%= webc %>">Camera:
          <%=i+1%></a>
        <br>
        <%- end %>
      </td> -->
    </tf>
  </tr>

  <%- end %>
</tbody>
<script src="//code.jquery.com/jquery-latest.js"></script>
<script charset="utf-8" src="//cdn.rawgit.com/noelboss/featherlight/master/release/featherlight.min.js" type="text/javascript"></script>

</table>
