<!DOCTYPE html>
<html xml:lang="en" lang="en" class = "htmlnew">
  <head>

  </head>
    <div class ="container-fluid">
        <div class= "row">
            <div class="col-xs-4">
                <h1>Find Me Gnar</h1>
                <p>Enter your location to find the best snow around</p>


                <%= render 'form' %>

            </div>
            <div class="col-xs-4">
                <h1>Ride Share</h1>
                <p>Enter your location and destination to look for a ride
                </p>


                <%= render 'rides/form' %>

            </div>
          
            <div class = "col-xs-4 ">
                <marquee behavior="scroll" direction="down" scrollamount="2" height=100% width=100%><p><ul>
                    <% Tweet.last(10).each do |f| %>
                        <li>
                        <%= f.user + ":"%> <br>
                        <%= auto_link(f.content) %>
                        </li>
                    <% end %>
                </ul></marquee>
            </div>
            
        </div>

        <div class="row">
            <div class = "col-xs-12">
                <marquee behavior="scroll" direction="left" scrollamount="2" height=100% width=100%>

                    <p> 
                        <%- Resort.all.each do |r| %>
                            <%=r.symbol + ": "  %>
                            <% if r.temp == nil  %> 
                            <%= "0F"  %>
                            <%else%>
                            <%= r.temp%>
                            <%end%> 
                        <% end%>
                    </p>
                </marquee>

            </div>
        </div>
    </div>

<script src="//code.jquery.com/jquery-latest.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/master/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
    
  
</html>





