 <div class="container">
   <div class="page-header">
<h1>Resorts</h1>
    </div>
<p class="lead"><%= %> </p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Base</th>
      <th>Temp</th>
      <th>Snowfall</th>
      <th>Gnarlocity</th>
      <th>Rides</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @resorts.each do |resort| %>
      <tr>
        <td><%= resort.name %></td>
        <td><%= resort.base %></td>
        <td><%= resort.temp %></td>
        <td><%= resort.snowfall %></td>
        <td><%= resort.gnarlocity %></td>
        <td><%= Ride.where(resort_to: resort.name).count %></td>
        <td><%= link_to 'Show', resort %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>