<div class="boxy">
<h1 style="font-size: 7vw">Colorado Resorts</h1>
<hr>

  <% @resorts.reverse.each do |resort| %>
  <div class="row">
    <div class="col-xs-12">

    <h1 style="font-size: 6vw"><%=link_to resort.name, resort_path(resort), class: "resort_link"%></h1>
  </div>

      <div class="col-xs-10">


      <p class="lead">
        <%= resort.name + ' recieved '  + 'inches of snowfall, adding to its '  + ' inch base.  Todays temperatures will be around ' + ' degrees faregnheight.' %>
      </p>
    </div>
    <div class="col-xs-2">

      <p>
        <strong>Base:</strong>
        <%= resort.base %>
      </p>

      <p>
        <strong>Temp:</strong>
        <%= resort.temp %>
      </p>

      <p>
        <strong>Snowfall:</strong>
        <%= resort.snowfall %>
      </p>

      <!-- <p>
        <strong>Gnarlocity:</strong>
        <%= resort.gnarlocity %>
      </p> -->
    </div>
</div>
<hr>

  <% end %>
</dov>
