<head>
  <meta name="viewport" content="initial-scale=0.4, user-scalable=yes">
  <meta charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

  <title>Displaying text directions with <code>setPanel()</code></title>
</head>

  <body>
    <!-- Resort Instagrams -->
    <div style="width: 90%;margin: auto;"class="container-fluid boxy">
      <div style="border-width: 0px 0px 3px 0px;"class="row dot">
        <div class="col-xs-12">
    <!-- Resort Info -->
              <h1 id="resort_name"><%= @resort.name %></h1>
        </div>
      </div>
      <div style="border-width: 0px 0px 3px 0px;"class="row dot">
              <div class="col-xs-3">
              <h4 class="header">Temperature</h4>
                  <h1 class="resort_stats"><%= @resort.temp.to_s + "° F" %></h1>
                </div>
                <div class="col-xs-3">
                  <h4 class="header">Snowfall</h4>
                  <h1 class="resort_stats"><%= @resort.snowfall.to_s + "\"" %></h1>
                </div>
                <div class="col-xs-3">
                  <h4 class="header">Base</h4>
                  <h1 class="resort_stats"><%= @resort.base.to_s + "\"" %></h1>
                </div>
                <div class="col-xs-3">
                  <h4 class="header">Symbol</h4>
                  <h1 class="resort_stats"><%= @resort.symbol.to_s  %></h1>
                </div>

        </div>




      <!-- Google Map to Resort -->
      <div class="row">


          <div style="padding: 0px;" class="col-xs-6">

            <div id="map"></div>

          </div>
          <div style="padding: 0px;" class="col-xs-6">

            <div id="right-panel"></div>

          </div>
      <!-- Resort Tweets -->
      <div class="row">
          <div class="col-xs-12">
            <div style="padding: 15px; margin: 0px; border-width: 3px 0px 3px 0px;"class="container-fluid dot">

              <div id="resort_instagrams"></div>

            </div>

          </div>
        </div>

      </div>
      <div class="dot" style="padding:0px;height: 200px; overflow-y:hidden;border-width: 0px 0px 3px 0px;">
        <marquee onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="down" scrollamount="2" height="500px" width=100%>
          <p>
            <ul id="mark">
              <% Tweet.last(100).each do |f| %>
                <hr>
                <li>
                  <p id="user">
                    <%= f.user + ":"%>
                  </p>
                  <%= auto_link(f.content, :html => { :target => '_blank' }) %>

                </li>
                <% end %>
            </ul>
          </p>
        </marquee>
      </div>



    </div>


  </body>
</div>

<script>

  // <!-- Resort Instagram Script -->


     var access_token = "16384709.6ac06b4.49b97800d7fd4ac799a2c889f50f2587",
         access_parameters = {
             access_token: access_token
         };

     function grabImages(access_parameters) {
           var loc = '<%=@resort.address%>'
           var lat = loc.split(',')[0];
           var log = loc.split(',')[1];
           var latlog = 'lat='+lat+"&lng="+log;
         var instagramUrl = 'https://api.instagram.com/v1/media/search?'+ latlog +'&distance=10000&callback=?&count=43';
         $.getJSON(instagramUrl, access_parameters, onDataLoaded);

     }

     function onDataLoaded(instagram_data) {
         var instagram = $("#resort_instagrams");
         if (instagram_data.meta.code == 200) {
             var photos = instagram_data.data;
             if (photos.length > 0) {
                 instagram.empty();
                 for (var key in photos) {
                   if (key < 10) {
                     var photo = photos[key];
                       instagram.append('<a class="inst_cont" href="' + photo.link + '"><img class="inst" src="' + photo.images.thumbnail.url + '"></a>')
                     }
                     else {
                     }
                 }
             } else {
                 instagram.html("nothing found");
             }
         } else {
             var error = instagram_data.meta.error_message;
             instagram.html(error);
         }
     }
     grabImages(access_parameters);

    // <!-- Google Maps Script -->


     function initMap() {
       var directionsDisplay = new google.maps.DirectionsRenderer;
       var directionsService = new google.maps.DirectionsService;
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 7,
         center: {lat: 41.85, lng: -87.65}
       });
       directionsDisplay.setMap(map);
       directionsDisplay.setPanel(document.getElementById('right-panel'));
       document.getElementById('right-panel')
       //var control = document.getElementById('floating-panel');
       //control.style.display = 'block';
       //map.controls[google.maps.ControlPosition.TOP_CENTER].push(control);
       window.onload = calculateAndDisplayRoute(directionsService, directionsDisplay);

       var onChangeHandler = function() {
         calculateAndDisplayRoute(directionsService, directionsDisplay);
       };

     }

     function calculateAndDisplayRoute(directionsService, directionsDisplay) {
       var start_point;
       var end_point;
       var from_area;
       if ('<%=@location%>' == ""){
         from_area = "Denver, CO";
       } else {
         from_area = '<%=@location%>';
       }
       directionsService.route({
         origin: from_area,
         destination: '<%=@resort.address%>',
         travelMode: google.maps.TravelMode.DRIVING
       }, function(response, status) {
         if (status === google.maps.DirectionsStatus.OK) {
           directionsDisplay.setDirections(response);
         } else {
           window.alert('Directions request failed due to ' + status);
         }
       });

     }

   //$.ajax({
   //  type: "GET",
   //  url: "https://api.instagram.com/v1/media/search?lat=48.858844&lng=2.294351&access_token=e868ca13f4a846e99c07f3a79d4ef8c4",
   //  dataType: "json",
   //  async: false,
   //  success: function(data) {
   //    start_point = data.location;
   //  }
   //});



        /*global jQuery */
        /*!
        * FitText.js 1.2
        *
        * Copyright 2011, Dave Rupert http://daverupert.com
        * Released under the WTFPL license
        * http://sam.zoy.org/wtfpl/
        *
        * Date: Thu May 05 14:23:00 2011 -0600
        */

        (function( $ ){

          $.fn.fitText = function( kompressor, options ) {

            // Setup options
            var compressor = kompressor || 1,
                settings = $.extend({
                  'minFontSize' : Number.NEGATIVE_INFINITY,
                  'maxFontSize' : Number.POSITIVE_INFINITY
                }, options);

            return this.each(function(){

              // Store the object
              var $this = $(this);

              // Resizer() resizes items based on the object width divided by the compressor * 10
              var resizer = function () {
                $this.css('font-size', Math.max(Math.min($this.width() / (compressor*10), parseFloat(settings.maxFontSize)), parseFloat(settings.minFontSize)));
              };

              // Call once to set.
              resizer();

              // Call on resize. Opera debounces their resize by default.
              $(window).on('resize.fittext orientationchange.fittext', resizer);

            });

          };

        }( jQuery ));
        $("#resort_name").fitText(0.9);
        $(".resort_stats").fitText(0.3);


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBb3ZSbRxq6PQSsJmpTT9bR79HghrI9_LE&signed_in=true&callback=initMap"
    async defer></script>
