<div class="col-xs-12">
  <div class="col-xs-12">

  <h1 style="font-size: 7vw"><%=@resort.name%></h1>
  <hr>

  </div>

  <div class="col-xs-8">

      <p class="lead">
        <% snowfall = @resort.snowfall.to_s %>
        <% base = @resort.base.to_s %>
        <% temp = @resort.temp.to_s %>
        <% gnarlocity = @resort.gnarlocity.to_s %>
        <%= @resort.name + ' recieved '  + snowfall + \
        ' inches of snowfall in the last 24 hours, and is boasting a ' \
        + base  +  ' inch base.  Todays temperatures will be around ' + \
        temp + ' degrees faregnheight.'%>

      </p>
    </div>
      <div class="col-xs-4">

        <p>
          <strong>Name:</strong>
          <%= @resort.name %>
        </p>

        <p>
          <strong>Base:</strong>
          <%= @resort.base %>
        </p>

        <p>
          <strong>Temp:</strong>
          <%= @resort.temp %>
        </p>

        <p>
          <strong>Snowfall:</strong>
          <%= @resort.snowfall %>
        </p>
<!-- 
        <p>
          <strong>Gnarlocity:</strong>
          <%= @resort.gnarlocity %>
        </p> -->
      </div>
    </div>

  <%= render 'rides/ride' %>
