<!-- Wrap all page content here -->
<div id="wrap">
  
  
  
  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1><%= @resort.name%></h1>
    </div>
    <p class="lead"><%= @resort.name + ' recieved '  + 'inches of snowfall, adding to its '  + ' inch base.  Todays temperatures will be around ' + ' degrees faregnheight. We think the resort will be '  + ' today.' %> </p>
     <div class="resortwrap"
<p>
  <strong>Name:</strong>
  <%= @resort.name %>
</p>

<p>
  <strong>Base:</strong>
  <%= @resort.base %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @resort.temp %>
</p>

<p>
  <strong>Snowfall:</strong>
  <%= @resort.snowfall %>
</p>

<p>
  <strong>Gnarlocity:</strong>
  <%= @resort.gnarlocity %>
</p>


<%= link_to 'Back', resorts_path %>


</div>



