<div class = "ride">
<% @ride = Ride.new %>
<%= form_for @ride do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resort_to %><br>
    <%= f.collection_select :resort_to, Resort.order(:name), :name,:name, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :location_from %><br>
    <%= f.text_field :location_from %>
  </div>
  <div class="field">
    <%= f.label :time_start %><br>
    <%= f.datetime_select :time_start %>
  </div>
  <div class="field">
    <%= f.label :time_end %><br>
    <%= f.datetime_select :time_end %>
  </div>
  <div class="field">
    <%= f.label :spots %><br>
    <%= f.number_field :spots %>
  </div>
  <div class="field">
    <%= f.label :contact_info %><br>
    <%= f.text_field :contact_info %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Ride', :class => 'submit' %>
  </div>
<% end %>
</div>
