
<html class="ridelisthtml">
<p class="ridelist" id= "0">Listing rides</p>
<div class="continer-fluid">

  <body onload="return ran_col()">
    <% @rides.each_with_index do |ride, i| %>

      <div class="row" id= "<%=i+1%>" >
        <div class="col-xs-4">
          <p class="ridelist">Destination</p>
            <div class="destination">
              <%= ride.resort_to %>
            </div>

          <p class="ridelist">Origin</p>
            <div class="origin">
             <%= ride.location_from %>
            </div>
        </div>
        
        <div class="col-xs-4">
          <p class="ridelist">Time of Departure To Resort</p>
            <div class="time_depart">
               <%= ride.time_start.strftime("%A %m/%d/%y at %I:%M%p")%>
            </div>
    
          <p class="ridelist">Time of Departure To Home</p>
            <div class="time_return">
               <%= ride.time_end.strftime("%A %m/%d/%y at %I:%M%p")%>
            </div>
        </div>
        
        <div class="col-xs-4">
          <p class="ridelist">Spots:</p>
            <div class="spots">
              <%= ride.spots %>
            </div>

          <p class="ridelist">Contact info:</p>
            <div class="spots">
              <%= ride.contact_info %>
            </div>
        </div>

   
</div>
<% end %>
              <%= link_to 'Home', new_search_path %>     


<script type="text/javascript">
            function ran_col() {
              for (i = 0; i < 5; i++) {
               //function name
                var color = '#'; // hexadecimal starting symbol
                var letters = ['96ceb4','ffeead','ff6f69','ffcc5c','88d8b0']; //Set your colors here
                color += letters[i];
                document.getElementById(i).style.background = color; // Setting the random color on your div element.
            }}
</script>
</body>

</html>
    
