<p id="RideInfo"><%= notice %></p>

<div class="continer-fluid">
  <div class="col-xs-4">
  <h1>Destination</h1>
  <div class="destination">
     <%= @ride.resort_to %>
  </div>

  <h1>Origin</h1>
  <div class="origin">
     <%= @ride.location_from %>
  </div>
 <div class="col-xs-4">
  <h1>Time of Departure To Resort</h1>
  <div class="time_depart">
     <%= @ride.time_start%>
  </div>
  
  <h1>Time of Departure To Home</h1>
  <div class="time_return">
     <%= @ride.time_end %>
  </div>
  </div>
<div class="col-xs-4">
  <h1>Spots:</h1>
  <div class="spots">
  <%= @ride.spots %>
  </div>

  <h1>Contact info:</h1>
  <div class="spots">
  <%= @ride.contact_info %>
  </div>
  </div>
</div>
<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %> |
<%= link_to 'Home', new_search_path %>
