<!DOCTYPE html>
<html>

<head>
  <title>FindMeGnar</title>
    <%= stylesheet_link_tag "application", debug: true %>
    <%= javascript_include_tag "application", debug: true %>
    <script>
      Ajaxify.init()
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51149429-3', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <div id="background">
  </div>
  <!-- Fixed navbar -->
  <div class="res_nav" style="z-index: 3;max-height: 200px;">
    <h1 style="float: left;font-size: 5em; padding-bottom:5px;margin: 0px;"><%= link_to "FMG", root_path %></h1>

      <br>

    <h3  style="float: left;font-size: 2em;font-family: 'Rough';"><%= link_to "Resorts", resorts_path %></h3>

    <br>

    <h3  style="float: left;font-size: 2em;font-family: 'Rough';"><%= link_to "About", about_path %></h3>

  </div>

    <div style="z-index: 2; background-color: transparent;"class="site-wrap" id="main">

      <%= yield %>
    </div>

  <div class="navbar navbar-bottom navbar-fixed-bottom">
    <div class="container2">
      <div class="collapse navbar-collapse">
        <div class="collapse navbar-collapse">
          <marquee class="ticker" onmouseover="this.stop();" onmouseout="this.start();" behavior="scroll" direction="left" loop="INFINITE" scrollamount="4" height="30px" width=100%>
            <ul class="nav navbar-nav">
              <%- Resort.all.where("snowfall >= 0").order(:snowfall).reverse.each do |r| %>
                <%a="  " +r.symbol + ": "  %>
                  <% unless r.snowfall == nil  %>
                    <%a=a + r.snowfall.to_s + "\""%>
                      <%else%>
                        <%end%>
                          <li class="ticker">
                            <%=link_to a, resort_path(r),  class: "ticker"%>
                          </li>
                          <% end%>
            </ul>
          </marquee>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
