<!DOCTYPE html>
<html>
<head>
  <title>FindMeNot</title>
  <%= stylesheet_link_tag "application", debug: true %>
  <%= javascript_include_tag "application", debug: true %>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body>

  <d8iv class="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-new navbar-fixed-top">
    <div class="container2">
      <div class="navbar-header">

        <a class="navbar-brand" id="title" href="/">Find Me Gnar</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
          <div class="btn-group">

          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                   <span data-bind="label">Resorts</span>&nbsp;<span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" role="menu">
                   <%- Resort.all.reverse.each do |r| %>
                             <li><a href="/resorts/<%=r.id%>" id="resort"><%=r.name %></a></li>
                   <% end%>
                 </ul>

          </div>
        </li>
        <li><%= link_to 'Rides', rides_path %> </li>


          </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
      <%= yield %></div>


                  <div class="navbar navbar-bottom navbar-fixed-bottom">
                    <div class="container2">
                    <div class="collapse navbar-collapse">

                      <div class="collapse navbar-collapse">
                         <marquee behavior="scroll" direction="left" scrollamount="2" height="30px" width=100%>
                        <ul class="nav navbar-nav">




                        <%- Resort.all.each do |r| %>
                            <%a="  " +r.symbol + ": "  %>
                            <% if r.temp == nil  %>
                            <%a=a + "Nil"  %>
                            <%else%>
                            <%a=a + r.temp + " F  "%>
                            <%end%>

                    <li>
                      <%=link_to a, resort_path(r)%>
                    </li>
                        <% end%>
                      </ul>
                    </marquee>
                    </div>

              </div>
              </div>
              </div>




                </body>

</html>
